---
layout: base.ejs
---

<%- include('/hero', {
mainText: 'OPSARH',
secondaryText: [
'Operadora de Servicios Administrativos y de Recursos Humanos',
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'index-hero-bg'
})
%>

<%- include('/banner', {
mainText: 'Trabajo Remoto',
secondaryText: [
'Derivado de la contingencia por COVID-19, hemos adecuado nuestra forma de trabajo al entorno actual. Permitiéndonos entregar la mayoría de nuestros servicios bajo un esquema 100% digital.'
],
ctaButtonText: 'Conócenos',
additionalClasses: 'opsarh-bblue-bg',
href: '/empresa'
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: 'Recursos Humanos a la Medida',
secondaryText: [
'¿No encontró lo que estaba buscando? Desarrollamos soluciones totalmente a la medida de tu necesidad, negocio u organización.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'lightblue-opsarh-bg',
href: '/empresa'
})
%>

<%- include('/side-image', {
heading: 'Ventaja Competitiva',
image: { src: '/images/building.webp', alt: 'Un vistazo hacia arriba de unos edificios al atardecer.' },
features: [
{ title: 'EN OPSARH', description: 'Estamos comprometidos a utilizar nuestras fortalezas para  atender de manera personalizada tus necesidades.' },
],
additionalClasses: 'skyblue-opsarh-bg',
imgClasses: ""
})
%>

<%- include('/features', {
title: '¿Por qué elegir OPSARH?',
description: '',
features: [
{
image: { src: "/images/eficacia.svg", alt: "Resultados"},
heading: 'Resultados',
subFeatures: ['Resultados a través de la gente']
},{
image: { src: "/images/eficiencia.svg", alt: "Comercio electronico"},
heading: 'Estrategia basada en Datos',
subFeatures: ['Los datos son nuestra base para generar estrategias, toma de decisiones y resultados.']
},{
image: { src: "/images/a_medida.svg", alt: "Ambientes"},
heading: 'Gestión del cambio',
subFeatures: ['Especialistas en ambientes disruptivos.']
},{
image: { src: "/images/agilidad.svg", alt: "Tecnologías"},
heading: 'Tecnologías',
subFeatures: ['Utilización de tecnologías en tendencia.']
},{
image: { src: "/images/estructura_talento.svg", alt: "Futuro"},
heading: 'Futuro',
subFeatures: ['Preparamos a la fuerza laboral del futuro.']
},{
image: { src: "/images/trabajo_remoto.svg", alt: "A la medida"},
heading: 'Soluciones a la medida',
subFeatures: ['Soluciones a escala de acuerdo a tus necesidades']
}
],
additionalClasses: 'grey-bg icons',
colClass: ''
})
%>

<%- include('/banner', {
mainText: 'Expertos en soluciones de Recursos Humanos',
secondaryText: [
'Conoce más sobre nosotros y nuestra trayectoria. Más de 15 años de experiencia como empresa en la industria nos respaldan.'
],
ctaButtonText: 'Conoce más',
additionalClasses: 'opsarh-bblue-bg',
href: '/servicios/reclutamiento'
})
%>

<%- include('/cards', {
mainText: 'Clientes',
secondaryText: '',
cards: [
{ imgAlt: 'Poly One cliente OPSARH', imgSrc: '/images/polyone-min.png', title: '', description: ''},
{ imgAlt: 'Sánchez y Martin cliente OPSARH', imgSrc: '/images/sanchez-min.png', title: '', description: ''},
{ imgAlt: 'Full Service cliente OPSARH', imgSrc: '/images/fullservice-min.png', title: '', description: ''},
{ imgAlt: 'Zimag cliente OPSARH', imgSrc: '/images/zimag-min.png', title: '', description: ''},
{ imgAlt: 'Sartorius cliente OPSARH', imgSrc: '/images/sartorius-min.png', title: '', description: ''},
{ imgAlt: 'Danone cliente OPSARH', imgSrc: '/images/danone-min.png', title: '', description: ''},
{ imgAlt: 'Nutrisa cliente OPSARH', imgSrc: '/images/nutrisa-min.png', title: '', description: ''},
],
noButton: true,
ctaButtonText: 'Cotizar ahora',
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'OPSARH, expertos en talento humano',
secondaryText: [
'Somos una empresa 100% dentro del sector humano. Conocemos cuáles son las necesidades del mercado y como atacarlas, más de 15 años nos avalan.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'lightblue-opsarh-bg',
noButton: false,
href: ''
})
%>

<section id='word-cloud' style='background-color: white'></section>
