---
title: 'Nosotros'
permalink: 'empresa/index.html'
---
<%- include('/hero', {
mainText: 'NOSOTROS',
secondaryText: [
'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'empresa-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/team.webp', alt: 'Una sala de juntas con una laptop, una mesa y 6 sillas a la vista.' },
features: [
{ title: '¿Quienes somos?', description: 'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza,  innovación y transformación hacia las estrategias del negocio, que permitan acelerar el logro de tus objetivos e incrementar la productividad.' },
{ title: '¿Que ofrecemos?', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet. Curabitur mi dolor, mollis eget sagittis in, mollis at elit. Nulla facilisi. Phasellus interdum viverra convallis. Aliquam accumsan sem ac enim volutpat, at consectetur enim rhoncus. Etiam dolor neque, ultrices sed dui in, viverra tristique mauris. Class aptent taciti sociosqu ad litora torquent.' },
{ title: '', description: '' },
],
additionalClasses: 'opsarh-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Visión Comercial</h3><p>Ser la organización por elección y preferencia, para acompañar a  los clientes en el cumplimiento de sus objetivos estratégicos.</p>'},
{ htmlContent: '<h3>Misión</h3><p>Ofrecer a los clientes servicios profesionales de calidad, acompañándolos en sus procesos de transformación organizacional; optimizando y/o estandarizando los procesos administrativos asociados a su operación; respondiendo a las necesidades relacionadas con la función de Recursos Humanos e implementando metodologías enfocadas a mejorar la rentabilidad.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/grid', {
mainText: 'VALORES de OPSARH',
elements: [
{ htmlContent: '<h3>Ética</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Confidencialidad</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Compromiso</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
],
additionalClasses: 'dark-blue-bg'
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Empatía</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Mejora Contínua</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Responsabilidad Social</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
],
additionalClasses: 'dark-blue-bg'
})
%>

<%- include('/mapa') %>

<%- include('/banner', {
mainText: 'Trabajo Remoto',
secondaryText: [
'Derivado de la contingencia por COVID-19, hemos adecuado nuestra forma de trabajo al entorno actual. Permitiéndonos entregar la mayoría de nuestros servicios bajo un esquema 100% digital.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'opsarh-bblue-bg',
href: '/blog/pandemia'
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'OPSARH, expertos en talento humano',
secondaryText: [
'Somos una empresa 100% dentro del sector humano. Conocemos cuáles son las necesidades del mercado y como atacarlas, más de 15 años nos avalan.'
],
ctaButtonText: '¡Contáctanos!',
additionalClasses: 'skyblue-opsarh-bg',
noButton: false,
href: ''
})
%>
