---
title: 'Nosotros'
permalink: 'empresa/index.html'
---
<%- include('/hero', {
mainText: 'NOSOTROS',
secondaryText: [
'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'empresa-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/team.webp', alt: 'Una sala de juntas con una laptop, una mesa y 6 sillas a la vista.' },
features: [
{ title: '¿Quienes somos?', description: 'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza,  innovación y transformación hacia las estrategias del negocio, que permitan acelerar el logro de tus objetivos e incrementar la productividad.' },
{ title: '¿Que ofrecemos?', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet. Curabitur mi dolor, mollis eget sagittis in, mollis at elit. Nulla facilisi. Phasellus interdum viverra convallis. Aliquam accumsan sem ac enim volutpat, at consectetur enim rhoncus. Etiam dolor neque, ultrices sed dui in, viverra tristique mauris. Class aptent taciti sociosqu ad litora torquent.' },
{ title: '', description: '' },
],
additionalClasses: 'opsarh-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Visión Comercial</h3><p>Ser la organización por elección y preferencia, para acompañar a  los clientes en el cumplimiento de sus objetivos estratégicos.</p>'},
{ htmlContent: '<h3>Misión</h3><p>Ofrecer a los clientes servicios profesionales de calidad, acompañándolos en sus procesos de transformación organizacional; optimizando y/o estandarizando los procesos administrativos asociados a su operación; respondiendo a las necesidades relacionadas con la función de Recursos Humanos e implementando metodologías enfocadas a mejorar la rentabilidad.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/mapa') %>

<%- include('/banner', {
mainText: 'Sanitización de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'opsarh-purple-bg',
href: '/blog/pandemia'
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'opsarh, expertos en facility services',
secondaryText: [
'Somos una empresa 100% dentro del sector enfocada en brindar servicios de facilities management. Conocemos cuáles son las necesidades del mercado y como atacarlas, más de xx años nos avalan.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'light-blue-bg',
noButton: false,
href: ''
})
%>
