---
title: 'Nosotros'
permalink: 'empresa/index.html'
---
<%- include('/hero', {
mainText: 'NOSOTROS',
secondaryText: [
'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'empresa-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/team.webp', alt: 'Una sala de juntas con una laptop, una mesa y 6 sillas a la vista.' },
features: [
{ title: '¿Quiénes somos?', description: 'Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza,  innovación y transformación hacia las estrategias del negocio, que permitan acelerar el logro de tus objetivos e incrementar la productividad.' },
],
additionalClasses: 'opsarh-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Visión Comercial</h3><p>Ser la organización por elección y preferencia, para acompañar a  los clientes en el cumplimiento de sus objetivos estratégicos.</p>'},
{ htmlContent: '<h3>Misión</h3><p>Ofrecer a los clientes servicios profesionales de calidad, acompañándolos en sus procesos de transformación organizacional; optimizando y/o estandarizando los procesos administrativos asociados a su operación; respondiendo a las necesidades relacionadas con la función de Recursos Humanos e implementando metodologías enfocadas a mejorar la rentabilidad.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/grid', {
mainText: 'VALORES de OPSARH',
elements: [
{ htmlContent: '<h3>Ética</h3><p> El comportamiento y actuar de nuestros profesionales esta soportado por el cumplimiento del marco moral de nuestra sociedad. Fomentando en todo momento honestidad, lealtad y respeto.</p>'},
{ htmlContent: '<h3>Confidencialidad</h3><p>Garantizar el tratamiento adecuado de los datos confidenciales y sensibles de cada Cliente.</p>'},
{ htmlContent: '<h3>Compromiso</h3><p>Entregar servicios de calidad, conforme al alcance estipulado en el contrato. Utilizando como principal garantía los resultados del Proyecto.</p>'},
],
additionalClasses: 'dark-blue-bg'
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Empatía</h3><p>Establecer conexiones sostenibles en el tiempo con Clientes y Proveedores, que nos permitan entender a profundidad la naturaleza de sus necesidades y proporcionar así la mejor solución.</p>'},
{ htmlContent: '<h3>Mejora Continua</h3><p>Estar en constante contacto con la evolución de metodologías, herramientas y procesos, que nos permitan ofrecer servicios de vanguardia.</p>'},
{ htmlContent: '<h3>Responsabilidad Social</h3><p>La Inclusión, Equidad, Medio ambiente y Utilización inteligente de recursos, son frases o palabras de peso en el vocabulario de OPSARH.</p>'},
],
additionalClasses: 'dark-blue-bg'
})
%>

<%- include('/mapa') %>

<!--<%- include('/banner', {
mainText: 'Trabajo Remoto',
secondaryText: [
'Derivado de la contingencia por COVID-19, hemos adecuado nuestra forma de trabajo al entorno actual. Permitiéndonos entregar la mayoría de nuestros servicios bajo un esquema 100% digital.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'opsarh-bblue-bg',
href: '/servicios/productividad'
})
%> -->

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'OPSARH, expertos en talento humano',
secondaryText: [
'Somos una empresa 100% dentro del sector humano. Conocemos cuales son las necesidades del mercado y como atacarlas, más de 15 años nos avalan.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'skyblue-opsarh-bg',
noButton: false,
href: ''
})
%>
