---
title: 'Estructura y Talento Organizacional'
permalink: 'servicios/ambientales/index.html'
description: '¿No sabes qué hacer con tus residuos? opsarh lo recoleta y transforma'
href: '/servicios/ambientales'
imgAlt: 'Tres montones de cartón reciclables.'
imgSrc: '/images/recycle.webp'
order: 2
---
<%- include('/hero', {
mainText: 'Estructura y Talento Organizacional',
secondaryText: [
'Analizamos y desarrollamos programas de evaluación del desempeño para tu organización.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-ambien-bg'
})
%>

<%- include('/side-image', {
heading: 'Estructura y Talento Organizacional',
image: { src: '/images/garbage.webp', alt: 'Unos trabajadores cargando un camión de basura con varios objetos.' },
features: [
{ title: '', description: 'Ofrecemos asesoría para el análisis y diagnóstico de la estructura organizacional con el fin de soportar las diferentes estrategias del negocio. Desarrollamos e implementamos programas de evaluación del desempeño que contribuyan tanto en los resultados de la empresa, como en el desarrollo de los empleados. ' },
{ title: '', description: ' ' },
],
additionalClasses: 'dark-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Talento</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Evalua</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
{ htmlContent: '<h3>Toma de decisión</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor diam cursus est faucibus laoreet.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'OPSARH, expertos en estructura y talento organizacional',
secondaryText: [
'¿Quieres evaluar de la mejor manera al personal de tu organización? Te ayudamos a hacerlo, Contáctanos.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'opsarh-purple-bg',
noButton: false,
    href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: 'Sanitización de espacios',
secondaryText: [
'En opsarh sabemos la importancia de proteger a nuestros clientes aliados por eso ante la situación creada por la emergencia sanitaria hemos reforzado nuestros protocolos de seguridad para cuidar de ti y los tuyos.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'opsarh-green-light-bg',
href: '/blog/pandemia'
})
%>
