---
title: 'Compensación y Beneficios'
permalink: 'servicios/compensacion/index.html'
description: 'Evaluamos estructuras organizacionales desde un enfoque de equidad interna, nivel salarial y competitividad externa.'
href: '/servicios/compensacion'
imgAlt: 'Dos máquinas de aire acondicionado.'
imgSrc: '/images/compensacion.svg'
order: 4
---


<%- include('/hero', {
mainText: 'Compensación y Beneficios',
secondaryText: [
'',
''
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-compen-bg'
})
%>

<%- include('/side-image', {
heading: 'Compensación y Beneficios',
image: { src: '/images/compensacion_blanco.png', alt: 'Cruz con iconograma' },
features: [
{ title: '', description: 'Ofrecemos asesoría y/o implementamos estrategias centradas en el empleado. Propiciando el ambiente laboral óptimo, proporcionando las herramientas, capacitación y comunicación necesarias, que le permitan adaptarse a los diferentes momentos disruptivos del negocio, asegurando su aportación extraordinaria al logro de los resultados de la empresa.' },
{ title: '', description: ' ' },
],
additionalClasses: 'skyblue-opsarh-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Análisis</h3><p>Análisis y descripción de puestos.</p>'},
{ htmlContent: '<h3>Valuación</h3><p>Valuación de puestos.</p>'},
{ htmlContent: '<h3>Tabuladores</h3><p>Diseño de tabuladores de compensación.</p>'},
{ htmlContent: '<h3>Compensación Variable</h3><p>Diseño de programas de compensación variable.</p>'},
{ htmlContent: '<h3>Beneficios</h3><p>Diseño y evaluación de programas de beneficios.</p>'},
{ htmlContent: '<h3>Equidad</h3><p>Estudios de equidad interna.</p>'},
],
additionalClasses: 'grid-alt-bg'
})
%>


<%- include('/cta', {
mainText: '¿Cuentas con un programa de remuneración adecuado a tu industria?',
secondaryText: [
'En OPSARH tenemos la respuesta.'
],
ctaButtonText: '¡Contáctanos!',
additionalClasses: 'lightblue-opsarh-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Todas las posibilidades en talento para tu organización',
secondaryText: [
'Sabemos que cada organización desde la más pequeña hasta el corporativo más grande tiene distintas necesidades. Nos adaptamos a las tuyas.'
],
ctaButtonText: '¡Contáctanos!',
additionalClasses: 'opsarh-bblue-bg',
noButton: false,
href: ''
})
%>