---
title: 'Productividad'
permalink: 'servicios/productividad/index.html'
description: 'Evaluación y desarrollo de la planeación estratégica, bajo la utilización de las herramientas que identifiquen las acciones de mejora. '
href: '/servicios/productividad'
imgAlt: 'Dos máquinas de aire acondicionado.'
imgSrc: '/images/productividad.svg'
order: 5
---


<%- include('/hero', {
mainText: 'Productividad',
secondaryText: [
'',
''
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-product-bg'
})
%>

<%- include('/side-image', {
heading: 'Productividad',
image: { src: '/images/productividad_blanco.png', alt: 'Flecha tendencia positiva' },
features: [
{ title: '', description: 'Evaluación y desarrollo de la planeación estratégica, bajo la utilización de las herramientas que identifiquen las acciones de mejora. Desarrollando objetivos enfocados a la estrategia e incremento de la productividad.' },
{ title: '', description: ' ' },
],
additionalClasses: 'skyblue-opsarh-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Planeación</h3><p>Asesoría en Planeación estratégica y determinación de objetivos e indicadores de desempeño.</p>'},
{ htmlContent: '<h3>Productividad</h3><p>Asesoría para maximizar la productividad a través de la gestión, capacitación y/o optimización de los recursos humanos.</p>'},
{ htmlContent: '<h3>Capacitación</h3><p>Asesoría y capacitación para la implementación de herramientas de manufactura esbelta.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Implementación</h3><p>Implementación de sistemas y programas de ahorro integrales.</p>'},
{ htmlContent: '<h3>Mejora</h3><p>Implementación de Proyectos de mejora <li>Reducción de costos</li><li>Desarrollo de procesos ágiles</li><li>Compromiso en tiempos óptimos de entrega</li><li>Aseguramiento de calidad de excelencia</li></p>'},
{ htmlContent: '<h3>Control</h3><p>Desarrollo e implementación de tableros gráficos de control que permitan monitorear y mejorar el rendimiento de los procesos productivos, operativos y financieros de la empresa, mediante herramientas gráficas de análisis.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'OPSARH, expertos en productividad',
secondaryText: [
'¿Quieres generar un ambiente laboral sano? Nosotros te decimos cómo lograrlo.'
],
ctaButtonText: '¡Contáctanos!',
additionalClasses: 'lightblue-opsarh-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Todas las posibilidades en talento para tu organización',
secondaryText: [
'Sabemos que cada organización desde la más pequeña hasta el corporativo más grande tiene distintas necesidades. Nos adaptamos a las tuyas.'
],
ctaButtonText: '¡Contáctanos!',
additionalClasses: 'opsarh-bblue-bg',
noButton: false,
href: ''
})
%>